
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #0F0E0C; }
.My-Color-Theme-2-hex { color: #543514; }
.My-Color-Theme-3-hex { color: #E2DBD2; }
.My-Color-Theme-4-hex { color: #FFFFFF; }
.My-Color-Theme-5-hex { color: #8C360A; }
.My-Color-Theme-6-hex { color: #9E5A1A; }
.My-Color-Theme-7-hex { color: #DBCF42; }
.My-Color-Theme-8-hex { color: #40A367; }
.My-Color-Theme-9-hex { color: #3672A3; }
.My-Color-Theme-10-hex { color: #493896; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(15, 14, 12, 1); }
.My-Color-Theme-2-rgba { color: rgba(84, 53, 20, 1); }
.My-Color-Theme-3-rgba { color: rgba(226, 219, 210, 1); }
.My-Color-Theme-4-rgba { color: rgba(255, 255, 255, 1); }
.My-Color-Theme-5-rgba { color: rgba(140, 54, 10, 1); }
.My-Color-Theme-6-rgba { color: rgba(158, 90, 26, 1); }
.My-Color-Theme-7-rgba { color: rgba(219, 207, 66, 1); }
.My-Color-Theme-8-rgba { color: rgba(64, 163, 103, 1); }
.My-Color-Theme-9-rgba { color: rgba(54, 114, 163, 1); }
.My-Color-Theme-10-rgba { color: rgba(73, 56, 150, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(40, 11, 5, 1); }
.My-Color-Theme-2-hsla { color: hsla(30, 61, 20, 1); }
.My-Color-Theme-3-hsla { color: hsla(33, 21, 85, 1); }
.My-Color-Theme-4-hsla { color: hsla(0, 0, 100, 1); }
.My-Color-Theme-5-hsla { color: hsla(20, 86, 29, 1); }
.My-Color-Theme-6-hsla { color: hsla(29, 71, 36, 1); }
.My-Color-Theme-7-hsla { color: hsla(55, 67, 55, 1); }
.My-Color-Theme-8-hsla { color: hsla(143, 43, 44, 1); }
.My-Color-Theme-9-hsla { color: hsla(206, 50, 42, 1); }
.My-Color-Theme-10-hsla { color: hsla(250, 45, 40, 1); }

/* geral */
button{
    cursor: pointer;
}
img{
    width: 100%;
    height: auto;
}
p{
    font-size: clamp(0.5rem,2vw,1.5rem);
}
h1{
    font-family: 'Typewriter';
    color: #FFFFFF;
    font-size: clamp(2rem,10vw,7rem);
    margin-top: 5%;
    margin-bottom: 10%;
    
}
h2{
    font-size: clamp(1.5rem,3vw,3rem);
    margin: 0%;
}
h3{
    font-size: clamp(1rem,2.5vw,2rem);
    margin: 0%;
}
span{
    font-family: Typerwriter;
}
/* fontes */
/* Regular */
@font-face {
  font-family: 'Typewriter';
  src: url('/fontes/jmh_typewriter_mono/JMH\ Typewriter\ mono.ttf') format('truetype');
  font-weight: 400;  /* normal */
  font-style: normal;
}
/* 
Thin
@font-face {
  font-family: 'MinhaFonte';
  src: url('/fontes/MinhaFonte-Thin.ttf') format('truetype');
  font-weight: 200;   bem leve 
  font-style: normal;
}
Bold
@font-face {
  font-family: 'MinhaFonte';
  src: url('../fontes/MinhaFonte-Bold.ttf') format('truetype');
  font-weight: 700;   negrito 
  font-style: normal;
}

Italic 
@font-face {
  font-family: 'MinhaFonte';
  src: url('../fontes/MinhaFonte-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

Bold Italic 
@font-face {
  font-family: 'MinhaFonte';
  src: url('../fontes/MinhaFonte-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
} */

/* index */
#inicio{
    background-color:#543514;
    font-family: 'Typewriter';
    margin: 0%;

    
}

.header,
.footer {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;         /* largura total */
    height: auto;
    MARGIN-bottom: 0;
}
.botoes .botao{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;

}
.foto_apresentacao{
    width: 30%;
    transform: rotate(-5deg);
    
    

}

.txt_apresentacao{
    display: flex;
    flex-direction: column;
    width: 57%;
    margin-left: 3%;
    background-color: #E2DBD2;
    color: #0F0E0C;
    padding: 1%;
    
    
    
}
.apresentacao{
    display: flex;
    margin-left: 8%;
    margin-right: auto;
}
.banner img{
    width: 100%;
    height: auto;
    margin: 1%;
    padding: 0%;
}
.banner{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
    
    
}

.titulo h2{
    font-size: 250%;
}


.imagem{
    width: 35%;
    margin-left: 2%;
}
.elementos{
    display: flex;
    flex-direction: column;
    width: 57%;
    margin-left: 2%;
}
.informacoes{
    display: flex;
    margin-left: 8%;
    margin-right: auto;
    margin-bottom: 4%;
        
}
.titulo{
    margin-bottom: 1%;
    margin-left: 5%;
}

/* a partir daqui as comfigurações para os botoes de curriculo e outros  */

.img_outros{
    width: 55%;
    cursor: pointer;
    position: relative;
    
}
.img_curriculo{
    width: 80%;
    height: auto;
    margin: auto; 
    cursor: pointer;
    position: relative;
    

}
.img_materias{
    width: 75%;
    height: auto;
    margin: auto;
    cursor: pointer;
    position: relative;
    
}
.botoes_materia_curriculo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%
}
.botao_outros{
    display: flex;
    justify-content: center;
}
.botao_outros,
.botao_materias,
.botao_curriculo{
    transition: transform 0.2s ease;
}
.botao_outros:hover,
.botao_materias:hover,
.botao_curriculo:hover{
    transform: scale(1.1);
    .legendas{
        opacity: 1;
    }
    
}
.legendas {
    position: absolute;
    bottom: 20%; /* ajuste conforme o layout desejado */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
    opacity: 0; /* deixa sempre visível */
    transition: opacity 0.3s ease;
    pointer-events: none; /* permite clicar no botão embaixo */
    z-index: 10; /* garante que fique acima do botão */
}



/* a partir daqui so oque é trabalhado na pagina materias  */
#materias {
    background-image: url('https://lh3.googleusercontent.com/d/1v9ZNfioeL27lohoJM8hkaMxi8oVqZNjG');
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center center;

    min-height: 100vh;
    width: 100%;         /* importante */
    margin: 0;           /* para garantir que nada empurre */
    padding: 0;
}

.botoes_materias{
    height: 90vh;
    position: fixed;   /* fixa na tela */
    bottom: 0;         /* encosta no fundo */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0%;
    scroll-behavior: smooth; /* scroll suave */
    scrollbar-width: none;
    padding-left: calc(50% - 90px);  /* metade da tela - metade da largura do botão */
    padding-right: calc(50% - 90px);
    gap: 40vh; /* controla o "quanto" do próximo/ anterior aparece */
    align-items: flex-end;
    padding-top: 20px 0; /* só um respiro */

    padding-bottom: 2%;
}
.botoes_materias::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
.botoes_materias img{
    display: block;
    margin: auto;
    cursor: pointer; /* deixa claro que é clicável */
    transition: transform 0.2s ease; /* animação suave */
    max-width: 40vh;
    max-height: 80vh;
    object-fit: cover;
    will-change: transform;
    margin-bottom: 1%;
    

}
.botoes_materias img:hover{
    transform: scale(1.1);
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.4);
}
#materias .botao{
    position: relative;
    flex: 0 0 auto;  /* impede esticar */
    scroll-snap-align: center; /* centraliza */
    margin-inline: clamp(4%, 15%, 20%);
}
.botoes_materias::before,
.botoes_materias::after{
    content: "";
    flex: 0 0 50%;  /* metade da largura da tela */
}
.legenda {
    position: absolute;
    bottom: 0.1%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* não bloqueia o clique na imagem */
}

.botao:hover .legenda {
    opacity: 1;
}
/* css temporario da pagina de materias so para a primeira entrega do portfolio */
#m {
    background-color: #E2DBD2;
    color: #0F0E0C;
    
}
#m .banner h1{
    color: #0F0E0C;
}
#m img:hover{
    transform: scale(1.1);
}

#outros {
    background-color: #0F0E0C;
    color:  #E2DBD2;
    
}
#outros .banner h1{
    color: #E2DBD2;
}
#outros img:hover{
    transform: scale(1.1);
}
