/* 
#0f0e0c
#8c360a
#c06308
#c48f11
#358956
#316894
#493896
#ffffff
#e1d4c4
*/

body{
    background-color:#0f0e0c;
    font-family: 'Times New Roman', Times, serif;

}
button{
    color: #ffffff;
    background: none;
    border: none
}

.botao{
    margin: 2%;
}

.botoes_inicio{
    display: flex;
    justify-content: center;
   

}
.baner{
    background-color: blue;
    height: 30%;
    width: 30%;
}


