/* 
#0f0e0c
#8c360a
#c06308
#c48f11
#358956
#316894
#493896
#ffffff
#e1d4c4
*/

body{
    background-color:#0f0e0c;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}
button{
    cursor: pointer;
}
.botoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap 
}
.botao button {
        color: #ffffff;
        background: none;
        border: none;
        font-size: clamp(1.5rem,2vw,3rem);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: block;
}
.botoes .botao{
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;

}
.foto_apresentacao{
    width: 30%;
    
    

}
.foto_apresentacao img{
    width: 100%;
    height: auto;
}
.txt_apresentacao{
    display: flex;
    flex-direction: column;
    width: 57%;
    margin-left: 2%;
    
    
}
.apresentacao{
    display: flex;
    margin-left: 8%;
    margin-right: auto;
    

}
.baner img{
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
}
.baner{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
    
    
}

.titulo h2{
    font-size: 250%;
}


button:hover {
    background-color: #ffffff;
    color: #0f0e0c;
}

p{
    font-size: clamp(1rem,2vw,1.5rem);
}
h2{
    font-size: clamp(1.5rem,3vw,3rem);
    margin: 0%;
}
h3{
    font-size: clamp(1rem,2.5vw,2rem);
    margin: 0%;
}
.imagem img{
    width: 100%;
    height: auto;

}
.imagem{
    width: 35%;
    margin-left: 2%;
}
.elementos{
    display: flex;
    flex-direction: column;
    width: 57%;
    margin-left: 2%;
}
.informacoes{
    display: flex;
    margin-left: 8%;
    margin-right: auto;
    margin-bottom: 4%;
        
}
.titulo{
    margin-bottom: 1%;
    margin-left: 5%;
}